<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="JTTesting" value="https://nuget.pkg.github.com/JTTesting/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <JTTesting>
      <add key="Username" value="MyName" />
      <add key="ClearTextPassword" value="MyPAT" />
    </JTTesting>
  </packageSourceCredentials>
</configuration>
